body {
    background-color: #A7F8F5;
    text-align: center;
}

nav {
    background-color:#83A6CF;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px
  }

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

main p {
      font-family: 'Crimson Text', serif;
    font-size: 25px;
}



a {
    font-family: 'Crimson Text', serif;
    text-decoration: none;
    font-weight: bold;
    color: #82490D;

}



a:hover {
    font-weight: bold;
    background-color: #82490D;
    color: white;
    opacity: 0.7;
}

nav a {
    color:#82490D;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Crimson Text', serif;
  }

nav a:hover{
  font-weight: bold;
 background-color: #82490D;
 color: white;
}

#author {
    background-color:#83A6CF;
    padding: 15px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;

}



#author h2 {
    font-weight: bold;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
}

span{
  font-weight: bold;
}

#author p {
    font-family: 'Patrick Hand', cursive;
    font-size: 15px;
}

#clivia-photo img {
    border: none;
    width: 20%;
    min-width: 250px;
    max-width: 300px;
}
#students-photo img{
  border: none;
  width: 70%;
  min-width: 400px;
  max-width: 800px;
}
ul {
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}
#basic p {
    font-family: 'Crimson Text', serif;
    font-size: 25px;
}
#major p {
      font-family: 'Crimson Text', serif;
    font-size: 25px;
}


.data img{
      border: none;
      width: 50%;
      min-width: 450px;
      max-width: 600px;
}
.story_picture img{
  border: none;
  width: 50%;
  min-width: 450px;
  max-width: 600px;
}
.story_name{
  font-family: 'Crimson Text', serif;
font-size: 30px;

}
.story_description{
  font-family: 'Crimson Text', serif;
font-size: 25px;
}
.places_container{
  width: 96%;
  margin: 1%;
  padding: 1%;
  display: block;
  float: left;
background-color: #eee;
text-align: center;
}
.places img {
     display: block;
      border: none;
      width: 95%;
      max-width: 250px;
  }
.places{
  display: block;
  margin: auto;
}
.places_text{
  display: block;
  width: 98%;
  margin: 1%;
  float: left;
}
.places_name{
    display: block;
  font-family: 'Crimson Text', serif;
  font-size: 25px;
  margin:auto;
}
.place_description{
    display: block;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  margin:auto;
}
@media only screen and (min-width: 450px) {
    .places_container{
        width: 46%;
        min-height: 410px;
    }
}
@media only screen and (min-width: 675px) {
  .scotus_holder {
    width: 21%;
    min-height: 383px;
  }
