body {
    background-color: #EEF0F2;
    text-align: center;
}

nav {
    background-color:#424455;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
      align-items: center;
        width: 100%;
        box-sizing: border-box;
        list-style-type: none;
        text-transform: uppercase;
        display: flex ;
        justify-content:space-around;
        flex-direction: row;
        flex-flow:row wrap;
  }

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

main p {
      font-family: 'Crimson Text', serif;
    font-size: 25px;
}



a {
    font-family: 'Crimson Text', serif;
    text-decoration: none;
    font-weight: bold;
    color: #4563A7;

}



a:hover {
    font-weight: bold;
    background-color: #4563A7;
    color: white;
    opacity: 0.7;
}

nav a {
    color:#EEF0F2;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Crimson Text', serif;
      border-style: double;
       border-color: white;
       display: block;
    padding: 15px;
  }

nav a:hover{
  font-weight: bold;
 background-color: white;
 color: black;
}

#author {
    background-color:#EEF0F2;
    padding: 15px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;

}



#author h2 {
    font-weight: bold;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
}

span{
  font-weight: bold;
}

#author p {
  font-family:'Patrick Hand', cursive;
    font-size: 25px;
}
#author a{
  font-family:'Patrick Hand', cursive;
  text-decoration: none;
  font-weight: bold;
  color: #4563A7;
}

#author a:hover{
  font-weight: bold;
  background-color: #4563A7;
  color: white;
  opacity: 0.7;
}
#clivia-photo img {
    border: none;
    width: 20%;
    min-width: 250px;
    max-width: 300px;
}
#students-photo img{
  border: none;
  width: 70%;
  min-width: 400px;
  max-width: 800px;
}
ul {
    list-style-type: none;
    text-transform: uppercase;
    display: flex ;
    justify-content:space-around;
    flex-wrap: wrap;
}
#basic p {
    font-family: 'Crimson Text', serif;
    font-size: 25px;
}
#major p {
      font-family: 'Crimson Text', serif;
    font-size: 25px;
}


.data img{
      border: none;
      width: 50%;
      min-width: 450px;
      max-width: 600px;
}
.story_picture img{
  border: none;
  width: 50%;
  min-width: 500px;
  max-width: 600px;
  min-height:250px;
}
.story_text{margin-top: 10px;
  margin-bottom: 50px;
padding-left: 10px;
padding-right: 10px;
margin-left: 80px;
margin-right: 80px;
background-color: white;
}

.story_name{
  font-family: 'Crimson Text', serif;
font-size: 30px;

}
.story_description{
  font-family: 'Crimson Text', serif;
font-size: 25px;
text-align: left;
}
.places_container{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  float: left;
text-align: center;
  background-color: white;
}
.places img {
      border: none;
      width: 95%;
      max-width: 250px;
      min-height: 150px
  }
.places{
  display: block;
  margin: auto;
}
.places_text{
  display: block;
  width: 58%;
  margin-top: 10px;
  margin-left:auto;
  margin-right: auto;

}
.places_name{
    display: block;
  font-family: 'Crimson Text', serif;
  font-size: 25px;
  margin:auto;
}
.place_description{
    display: block;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  margin:auto;
}
@media screen and (max-width: 750px) {
  nav{
    flex-flow: column wrap;
    padding: 30px;
    justify-content: center;
  }
nav a {
    text-align:center;
      padding-left: 80px;
      padding-right: 80px;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  }
